<div class="footer">
	<div class="wrap">
		<% if(data.isindex){ %>
		<!-- 友情链接 -->
		<dl class="friendlink clearfix">
			<dt class="fl">友情链接：</dt>
			<dd class="fl clearfix">
				<a href="" target="_blank" class="fl">BTAGO</a>
				<a href="" target="_blank" class="fl">BTAGO</a>
				<a href="" target="_blank" class="fl">BTAGO</a>
				<a href="" target="_blank" class="fl">BTAGO</a>
				<a href="" target="_blank" class="fl">BTAGO</a>
				<a href="" target="_blank" class="fl">BTAGO</a>
				<a href="" target="_blank" class="fl">BTAGO</a>
				<a href="" target="_blank" class="fl">BTAGO</a>
				<a href="" target="_blank" class="fl">BTAGO</a>
				<a href="" target="_blank" class="fl">BTAGO</a>
				<a href="" target="_blank" class="fl">BTAGO</a>
				<a href="" target="_blank" class="fl">BTAGO</a>
				<a href="" target="_blank" class="fl">BTAGO</a>
				<a href="" target="_blank" class="fl">BTAGO</a>
				<a href="" target="_blank" class="fl">BTAGO</a>
				<a href="" target="_blank" class="fl">BTAGO</a>
				<a href="" target="_blank" class="fl">BTAGO</a>
				<a href="" target="_blank" class="fl">BTAGO</a>
				<a href="" target="_blank" class="fl">BTAGO</a>
				<a href="" target="_blank" class="fl">BTAGO</a>
				<a href="" target="_blank" class="fl">BTAGO</a>
				<a href="" target="_blank" class="fl">BTAGO</a>
				<a href="" target="_blank" class="fl">BTAGO</a>
				<a href="" target="_blank" class="fl">BTAGO</a>
				<a href="" target="_blank" class="fl">BTAGO</a>
				<a href="" target="_blank" class="fl">BTAGO</a>
				<a href="" target="_blank" class="fl">BTAGO</a>
				<a href="" target="_blank" class="fl">BTAGO</a>
				<a href="" target="_blank" class="fl">BTAGO</a>
				<a href="" target="_blank" class="fl">BTAGO</a>
				<a href="" target="_blank" class="fl">BTAGO</a>
				<a href="" target="_blank" class="fl">BTAGO</a>
			</dd>
		</dl>
		<!-- 友情链接 -->
		<% } %>
		<!-- copyright -->
		<div class="copyright">
			<p>© 2016 <a href="#" title="BT磁力">BT磁力</a></p>
			<p>本站仅为互联网BT磁力资源搜索结果聚合平台,本站不搭载任何类型的数据库,不储存任何种子/特征码/磁力链或数据源等文件,显示内容均由爬虫实时抓取于互联网</p>
			<p>本站仅为学习、研究代码使用,谢绝一切商业行为。</p>
		</div>
		<!-- copyright -->
	</div>
</div>