<div class="row search clearfix">
	<input type="text" name="search" id="inputSearch" class="form-control inputSearch fl" value="<% if(data.keyword){ %><%= decodeURI(data.keyword) %><% } %>" required="required" pattern="" title="" placeholder ="关键字">
	<button type="button" class="btn btn-large btn-block btn-default fl">搜索</button>
</div>